<!-- Metadata  -->
{% include metadata.liquid %}

<title>{{ site.title }} | {{- page.title -}}</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url | bust_file_cache }}">
<script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url | bust_file_cache }}"></script>

<!-- Code Syntax Highlighting -->
<link rel="stylesheet" href="{{ '/assets/css/borland.css' | relative_url | bust_file_cache }}">

<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="stylesheet" href="{{ '/assets/css/bootstrap-icons.min.css' | relative_url | bust_file_cache }}">
