<!doctype html>
<html lang="en">
  <head>
    <!-- Metadata, OpenGraph and Schema.org -->
    {% include metadata.liquid %}

    <title>{{ site.title }} | {{- page.title -}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | relative_url | bust_file_cache }}">
    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url | bust_file_cache }}"></script>

    <!-- Code Syntax Highlighting -->
    <link rel="stylesheet" href="{{ '/assets/css/borland.css' | relative_url | bust_file_cache }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  </head>
  <body>

    <header class="mb-4 border-bottom">
      <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
        <div class="container">

          <button class="navbar-toggler order-2 order-md-1" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbar-left navbar-right" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse order-3 order-md-2" id="navbar-left">

            <div class="dropdown">
              <button class="btn btn-link dropdown-toggle text-dark text-decoration-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Category
              </button>
              <ul class="dropdown-menu">
                  {% for category in site.categories %}
                    <li><a class="dropdown-item text-capitalize link-underline-opacity-0" href="/archives/category/{{category|first}}">{{category|first}}</a></li>
                  {% endfor %}
              </ul>
            </div>


          </div>

          <a class="navbar-brand mx-auto order-1 order-md-3" href="/index.html">Niklas Nilsson</a>

          <div class="collapse navbar-collapse order-4 order-md-4" id="navbar-right">
            <ul class="navbar-nav ms-auto">
              {% for page in site.pages %}
                {% if page.resource == true %}
                  <li class="nav-item"><a class="nav-link text-capitalize link-underline-opacity-0" href="{{ page.url }}">{{ page.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
