<div class="card mt-4">
  <div class="card-body text-center">
      {% for social in site.data.socials %}
        {% case social[0] %}
          {% when 'email' %}
            <a href="mailto:{{ social[1] | encode_email }}" title="email"><i class="bi bi-envelope me-2 fs-2 text-light-emphasis"></i></a>
          {% when 'github_username' %}
            <a target="_blank" href="https://github.com/{{ social[1] }}" title="GitHub"><i class="bi bi-github me-2 fs-2 text-light-emphasis"></i></a>
          {% when 'linkedin_id' %}
            <a target="_blank" href="https://www.linkedin.com/in/{{ social[1] }}" title="LinkedIn"><i class="bi bi-linkedin me-2 fs-2 text-light-emphasis"></i></a>
          {% when 'facebook_id' %}
            <a target="_blank" href="https://facebook.com/{{ social[1] }}" title="Facebook"><i class="bi bi-facebook me-2 fs-2 text-light-emphasis"></i></a>
          {% when 'instagram_id' %}
            <a target="_blank" href="https://instagram.com/{{ social[1] }}" title="Instagram"><i class="bi bi-instagram me-2 fs-2 text-light-emphasis"></i></a>
        {% endcase %}
      {% endfor %}
  </div>
</div>
