 {% include header.liquid %}

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>{{ page.title }}</h3>
        <hr />
        <p class="mt-3">Posted: {{ page.date | date: "%B %-d, %Y" }}{%- if page.author -%} • {{ page.author }}{%- endif -%}{%- if page.meta -%} • {{ page.meta }}{%- endif -%}</p>
        {% if page.last_updated %}
          <p>Last updated on {{ page.last_updated | date: '%B %d, %Y' }}</p>
        {% endif %}
        <hr />

        <article class="post-content">
          <header class="mb-4">
            {% if page.image %}
              <img width="400" class="rounded mx-auto d-block" src="/assets/img/{{ page.image }}">
            {% endif %}
            {% if page.book_title %}
              <p class="my-0 mx-0 fw-medium">Title: {{ page.book_title }}</p>
            {% endif %}
            {% if page.book_author %}
              <p class="my-0 mx-0 fw-medium">Author: {{ page.book_author }}</p>
            {% endif %}
            {% if page.book_isbn %}
              <p class="my-0 mx-0 fw-medium">ISBN: {{ page.book_isbn }}</p>
            {% endif %}
          </header>


          {{ content }}
        </article>
      </div>

      <div class="col-md-3 ms-auto">
        {% include latest_posts.liquid %}
        {% include author.liquid %}
        <div class="card tags mt-4">
          <div class="card-body">
            <h5 class="card-title border-bottom pb-3 mb-3">Categories</h5>
            <ul class="list-unstyled">
            {% for category in page.categories %}
              <li><a class="text-capitalize link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0" href='/archives/category/{{category}}'>{{ category }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>

        <div class="card tags mt-4">
          <div class="card-body">
            <h5 class="card-title border-bottom pb-3 mb-3">Tags</h5>
            <ul class="list-unstyled">
            {% for tag in page.tags %}
              <li><a class="text-capitalize link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0" href='/archives/tag/{{tag | downcase}}'>{{ tag }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>

        {% if site.related_posts.size >= 1 %}
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title border-bottom pb-3 mb-3">Related stories</h5>
            <ul class="list-unstyled">
              {% for related_post in site.related_posts limit: 5 %}
                <li><a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0" href="{{ related_post.url }}">{{ related_post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

{% include footer.liquid %}

