<!DOCTYPE html>
<html lang="{{ site.lang }}" data-bs-theme="{{ site.bs_theme }}">

  <!-- Head -->
  <head>
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <main>
      <section class="container my-5">
        <div class="row">
          <div class="col-md-9 mx-auto">
            <h5>Archive of posts with {{ page.type }} '{{ page.title }}'</h5>
              <ul class="posts">
                {% for post in page.posts %}
                <li>
                  <time>{{ post.date | date:"%d %b" }}</time>
                  <a class="text-capitalize link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0" href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-3 ms-auto">
            {% include author.liquid %}
            {% include categories.liquid %}
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    {% include footer.liquid %}
</html>

<!-- JavaScripts -->
{% include scripts.liquid %}

